.Form-container {
  max-width: 60vmin;
  display: flex;
  flex:1;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: 100px;
}

.Container {
  display: flex;
  flex:1;
  height: 100vh;
  padding: 40px;
  align-items: center;
  justify-content: space-between;
}

.Logo-container {
  display: flex;
  flex:1;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .Container{
    flex-direction: column;
    height: 120vh;
  }
  .Form-container {
    justify-content: center;
    width: 80vmin;
    padding-left: 0px;
  }
}

.Main-logo {
  width: 100%;
}

.Button-container{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
