.Main-container {
    display: flex;
    flex:1;
    height: 100vh;
    align-items: center;
    padding: 0;
}

.Menu-container {
    background-color: #2c2f34;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    flex:1;
    height: 100%;
    flex-direction: column;
    padding:40px 15px 40px 15px;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
}



.Children-container {
    margin-left: 160px;
    display: flex;
    flex:6;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.Buttons-container {
    display: flex;
    flex:5;
    padding: 20px 0px 20px 0px;
    flex-direction: column;
    justify-content: space-around;


}

.Logout-container {
    display: flex;
    flex:.5;
    flex-direction: column;
    width: 80%;
}

.Title {
    display: flex;
    flex: 1;
    max-width: 700px;
    justify-content: space-between;
}
.create-form{
    min-width: 40vmin;
    padding-left: 0;
}

.Event-card{
    background-color: red;
}
.Event-card-img{
    display: flex;
    width: 110%;
    justify-content: flex-end;
}

.Table-cell{
    display: flex;
    width: auto;
    flex-direction: row;
    background-color: red;
}